<mat-card>
    <mat-card-title>Room create</mat-card-title>
    <form >
        <mat-form-field>
            <input matInput placeholder="Nome"
                [(ngModel)]="room.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="date"
                [(ngModel)]="room.date" name="date">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="startHour"
                [(ngModel)]="room.startHour" name="startHour">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="endHour"
                [(ngModel)]="room.endHour" name="endHour">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="onSubmit()" color="primary">
        Submit
    </button>
    
    <button mat-raised-button (click)="cancel()" color="warn">
        Cancelar
    </button>

    <button mat-raised-button [hidden]="!submitted" (click)="newRoom"  >
        Add
    </button>
</mat-card>

